/*paleta suave com fundo claro e texto escuro*/
:root[
    --cor-fundo: #fff8f50;
    --cor-cabecalho: #8b5e3c;
    --cor-texto: #333;
    --cor-rodape: #654321;
]
body{
    margin: 0;
    font-family: ´
